<section class="container" id="board" ng-controller="home">
    <form name="myForm" class="form-inline">
        <div class="form-group">
            <select id="accounts" class="form-control" ng-change="selectAccount(selectedAccount)" ng-model="selectedAccount" ng-options="account.value as account.label for account in accounts">

    </select> <i class="icon">+</i>
        </div>
    </form>

    <div ng-if="selectedAccount">
        <div ng-drop="drop($event)" ng-dragover="allowDrop($event)">
            <section id="currencyForexInfo " class="block container" draggable="true" ng-dragstart="drag($event)">
                <h2 class="heading ">Currenty Forex Info</h2>
                <div class="graph ">
                  <img id="ccw_chart" src="https://encrypted.google.com/finance/chart?biw=1366&amp;bih=332&amp;q=CURRENCY:USDINR&amp;tkr=1&amp;p=5Y&amp;chst=vkc&amp;chs=269x94&amp;chsc=1&amp;ei=JFcZWOeJNoXcvgSapp-4CQ" data-src="https://encrypted.google.com/finance/chart?biw=1366&amp;bih=332&amp;q=CURRENCY:USDINR&amp;tkr=1&amp;p=5Y&amp;chst=vkc" style="height:110px;width:350px" class="chart_height" alt="Chart of exchange rate values over time">
                </div>
            </section>
        </div>
        <div ng-drop="drop($event)" ng-dragover="allowDrop($event)">
            <section id="accountInformation" class="block container" draggable="true" ng-dragstart="drag($event)">
                <h2 class="heading">Account Information</h2>
                <div class="details ">
                    <div class="row ">
                        <div class="col-md-12 ">
                            <label>Account Number:</label> {{acctDetails.acctNumber}}
                        </div>
                        <div class="col-md-12 ">
                            <label>Account Name:</label> {{acctDetails.acctName}}
                        </div>
                        <div class="col-md-12 ">
                            <label>Currency:</label> {{acctDetails.currency}}
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div ng-drop="drop($event)" ng-dragover="allowDrop($event)">
            <section id="balanceInformation" class="block container" draggable="true" ng-dragstart="drag($event)">
                <h2 class="heading">Balance Information</h2>
                <div class="details">
                    <table class="table">
                        <tr>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Amount</th>
                        </tr>
                        <tr ng-repeat="bal in balInfo">
                            <td>{{bal.date}}</td>
                            <td>{{bal.desc}}</td>
                            <td>{{bal.amt}}</td>
                        </tr>
                    </table>
                </div>
            </section>
        </div>
    </div>
</section>
